<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link href="style.css" type="text/css" rel="stylesheet"/>
  </head>
  <body ng-app="LunchApp">
    <div class="row">
        <h1 class="text-Right">AngulareJS Assignment No. 1</h1>
    </div>
    <!-- Module 1 Coding Assignment -->
    <div class="row">
        <div class="column callout secondary large-6">
            <h2>Keep it less than 3 items for Healthy Lunch</h2>
            <div ng-controller="LunchContoller">
                <div>
                    Items: <input type="text" ng-model="itemsList" ng-keyup="updateNumberOfItems()">
                </div>
                <div>{{itemsMessage}}</div>
                <a class="button" ng-click="updateItemsMessage()">Check If Too Much</a>
            </div>
        </div>
    </div>
